<!-- <ul class="list-group">
  <li class="list-group-item list-group-item-action" *ngFor="let student of students">
    {{ student.name }}
  </li>
</ul> -->
<button (click)="showCreate=true" class="btn btn-success">Create Student</button>
<span *ngIf="showCreate">
  <input type="text" [(ngModel)]="newClassName">
  <button (click)="createStudent()">Save</button>
  <button (click)="cancel()">Cancel</button>
</span>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td >{{ student.name }}<button (click)="getStudents(student._id)">See Students</button ></td>
        <td><a (click)="showname[student._id]=true" class="btn btn-info">Edit</a>
        <span *ngIf="showname[student._id]"><input type="text" placeholder="{{ student.name }}" [(ngModel)]="edit.name">
          <button (click)="editStudent(student._id)" >Save</button>
          <button (click)="cancel(student._id)">Cancel</button>
        </span></td>
        <td><a (click)="deleteStudent(student._id)" class="btn btn-danger">Delete</a></td>
      </tr>
    </tbody>
  </table>
  </div>
